name: unit tests
on: [push]
jobs:
  django-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - run: apt install -y python docker-engine
      - run: pip install docker-compose
      - name: Perform Unit Tests
        run: docker-compose run app sh -c "python manage.py test && flake8"